a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

.nav{
    overflow:hidden;
    background-color: lightgray
}

.nav a{
    
    color: black;
    font-family: 'Staatliches', cursive;
    padding: 14px 16px;
    
}
a.active{
   color: white;
   background: #000000;
}
@media screen and (max-width: 600px){
    .nav a{
        float:none;
        width: 100%;
        display: block;
        text-align: center;
        font-size: 2em;
    }
}

@media screen and (max-width: 650px) and (orientation: landscape){
    .nav a{
        display: block;
        float: left;
        color: black;
        font-family: 'Staatliches', cursive;
        font-size: 2em;
        text-decoration: none;
    }
}


@media screen and (min-width: 601px) {
    .nav a{
        display: block;
        float: left;
        color: black;
        font-family: 'Staatliches', cursive;
        font-size: 4.5em;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px){

}


.page-header{
    font-size: 2.5em;
    text-align: center;
    padding:20px;
    font-family: 'Staatliches', cursive;
}
.banner{
    display: block;
    width: 100%;
    height: 20px
}
.art-pieces{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;

}
.spotlight-art-piece{
    max-width: 50%;
    height: auto;
}
.art-piece-img{
    max-width: 25%;
    height: auto;
}

.artist-profiles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between
}
.top-pick-header{
    font-size:20pt
}
p{
    font-size: 14pt
}