a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

.nav{
    overflow:hidden;
    background-color: lightgray;
}

.nav a{
    
    
    color: black;
    font-family: 'Staatliches', cursive;
    padding: 8px 16px;
    
}
a.active{
   color: white;
   background: #000000;
}

/* @media queries */
@media only screen and (max-width: 560px){
    .nav a{
        float:none;
        width: 100%;
        display: block;
        text-align: center;
        font-size: 2em;
    }
    
}

@media only screen and (min-width: 568px){
    .nav a{
        display: block;
        float: left;
        color: black;
        font-family: 'Staatliches', cursive;
        font-size: 1.7em;
        text-decoration: none;
    }
}


@media only screen and (min-width: 730px) {
    .nav a{
        display: block;
        float: left;
        color: black;
        font-family: 'Staatliches', cursive;
        font-size: 2.3em;
        text-decoration: none;
    }
}

@media only screen and (min-width: 992px) {
    .nav a{
        display: block;
        float: left;
        color: black;
        font-family: 'Staatliches', cursive;
        font-size: 3.4em;
        text-decoration: none;
    }
}


.page-header{
    font-size: 2.5em;
    text-align: center;
    margin: 10px;
    padding: 40px;
    font-family: 'Staatliches', cursive;
}
.banner{
    display: block;
    width: 100%;
    height: 20px
}
.art-pieces{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;

}
.spotlight-art-piece{
    max-width: 50%;
    height: auto;
}
.art-piece-img{
    max-width: 25%;
    height: auto;
}

.artist-profiles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
}
.artist-profiles-img{
    max-width: 50%;
    height: auto;
}
.top-pick-header{
    font-size:20pt
}
p{
    font-size: 14pt
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top: 60px;
}

#navbar {
    overflow: hidden;
    background-color: lightgray;
  }
  
  /* #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  } */